<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>pixelstruct.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>pixelstruct_automoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4267DCFDD5C3244DD3593F6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7813C25D7A324C8A97DC409A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87F23C5C47EA484089F3CD04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93AA06E3680C42698917F5C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE97EB8105F13AE92AACFFE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C559ADE8BE6C45B5B8C759B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
